.page {
  padding: 20px 30px;
  background: #f8fafc;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  margin-top: 40px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.backArrow {
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.backArrow:hover {
  transform: translateX(-3px);
  opacity: 0.8;
}


.headerRight {
  display: flex;
  gap: 10px;
}

.draftBtn {
  padding: 6px 14px;
  border: 1px solid #d1d5db;
  background: #EA580C;
  border-radius: 6px;
  cursor: pointer;
}

.draftBtn :hover {
  padding: 6px 14px;
  border: 1px solid #EA580C;
  background: #d1d5db;
  border-radius: 6px;
  cursor: pointer;
}

.publishBtn {
  padding: 6px 14px;
  background: #EA580C;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Layout */
.layout {
  display: grid;
  grid-template-columns: 2.3fr 1fr;
  gap: 20px;
}

/* Cards */
.card {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
}

/* Inputs */
.card label {
  display: block;
  margin: 12px 0 6px;
  font-size: 14px;
  font-weight: 500;
}

.card input,
.card textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
}

.card textarea {
  min-height: 120px;
  resize: vertical;
}

/* Content textarea */
.left textarea {
  min-height: 320px;
}

/* Upload */
.uploadBox {
  border: 2px dashed #d1d5db;
  border-radius: 8px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6b7280;
  margin-bottom: 10px;
}

.mediaBtn {
  width: 100%;
  padding: 6px;
  border: 1px solid #d1d5db;
  background: #EA580C;
  border-radius: 6px;
  cursor: pointer;
}

/* Tags */
.tagInput {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.tagInput button {
  padding: 6px 12px;
  border: 1px solid #d1d5db;
  background: #EA580C;
  border-radius: 6px;
  cursor: pointer;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.imagePreview {
  position: relative;
}

.imagePreview img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.removeImage {
  position: absolute;
  top: 6px;
  right: 6px;
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.tags span {
  cursor: pointer;
  user-select: none;
}

